{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    

   
    <title>Query page</title>
    <meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
   
      <link href="css/bootstrap.min.css" rel="stylesheet">
       <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
 <script type="text/javascript" src="ayur.js"></script>
    <script
        src="http://maps.googleapis.com/maps/api/js?key=AIzaSyCJnj2nWoM86eU8Bq2G4lSNz3udIkZT4YY&sensor=false">
    </script>
   
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<style>
body, h1,h2,h3,h4,h5,h6 {font-family: "Montserrat", sans-serif}
.w3-row-padding img {margin-bottom: 12px}
/* Set the width of the sidebar to 120px */
.w3-sidebar {width: 120px;background:#F39C12;}
/* Add a left margin to the "page content" that matches the width of the sidebar (120px) */
#main {margin-left: 120px}
/* Remove margins from "page content" on small screens */
@media only screen and (max-width: 600px) {#main {margin-left: 0}}
    .table{
        padding-left: 150px;
        padding-right: 150px;
    }
    body{
            background-image: url("{% static 'home/img/new.jpg' %}");
            background-blend-mode:lighten;
        }

    
    
    
      </style>  
    
    
    
    
    
    
  </head>
  <body>
  <!-- Icon Bar (Sidebar - hidden on small screens) -->
<nav class="w3-sidebar w3-bar-block w3-small w3-hide-small w3-center">
  <!-- Avatar image in top left corner -->
  <a href="/home"><img src="{% static 'home/img/original-logos_2018_Mar_8391-5ab14a07d934d.png' %}" style="width:100%"></a>
  <a href="/home"class="w3-bar-item w3-button w3-padding-large w3-hover-black">
    <i class="fa fa-home w3-xlarge"></i>
    <p>Home</p>
  </a>
  <a href="/home/#about" class="w3-bar-item w3-button w3-padding-large w3-hover-black">
    <i class="fa fa-cogs w3-xlarge"></i>
    <p>Unit Conveter</p>
  </a>
  <a href="/home/#photos" class="w3-bar-item w3-button w3-padding-large w3-hover-black">
    <i class="fa fa-search w3-xlarge"></i>
    <p>Explore</p>
  </a>
  <a href="/home/#contact" class="w3-bar-item w3-button w3-padding-large w3-hover-black">
    <i class="fa fa-envelope w3-xlarge"></i>
    <p>Contact us</p>
  </a>
  <a href="/home/contact" class="w3-bar-item w3-button w3-padding-large w3-hover-black ">
    <i class="fa fa-male w3-xlarge"></i>
    <p>Ask Query</p>
  </a>
</nav>

<!-- Navbar on small screens (Hidden on medium and large screens) -->
<div class="w3-top w3-hide-large w3-hide-medium" id="myNavbar">
  <div class="w3-bar w3-black w3-opacity w3-hover-opacity-off w3-center w3-small">
    <a href="/home" class="w3-bar-item w3-button" style="width:25% !important">Home</a>
    <a href="/home/#about" class="w3-bar-item w3-button" style="width:25% !important">Unit Converter</a>
    <a href="/home/#photos" class="w3-bar-item w3-button" style="width:25% !important">Explore</a>
    <a href="/home/#contact" class="w3-bar-item w3-button" style="width:25% !important">Contact us</a>
    <a href="/home/contact" class="w3-bar-item w3-button" style="width:25% !important">Ask Query</a>
  </div>
</div>
 <div class="w3-content w3-justify w3-text-black w3-padding-16" id="#">
    <h1 class="w3-text-black">Send us a message:</h1>
    <hr style="width:200px" class="w3-opacity">
<div class="w3-padding-16 w3-content w3-text-black" id="contact">
     </div>
 
    <form  method=POST>
     {% csrf_token %}
      <p><input class="w3-input w3-padding-16" type="text" placeholder="Name" required name="name" ></p>
      <p><input class="w3-input w3-padding-16" type="email" placeholder="Email" required name="sender" ></p>
      <p><input class="w3-input w3-padding-16" type="text" placeholder="Subject" required name="subject" required></p>
      <p><input class="w3-input w3-padding-16" type="number" placeholder="Contact Number" required name="mobile"></p>
      <p><input class="w3-input w3-padding-16" type="text" placeholder="Message"rows="5" required name="message" id="comment"></p>
      <h3 class="w3-text-black"> Upload prescription</h3>
      <p><input class="w3-input w3-padding-16" type="file" placeholder="Message"rows="5" required name="fileToUpload" id="fileToUpload"></p>
      <p>
        <button class="w3-button w3-light-grey w3-padding-large" type="submit" value="submit">
          <i class="fa fa-paper-plane"></i> SEND MESSAGE
        </button>
      </p>
    </form>
  <!-- End Contact Section -->
  </div>

</body>